.navbar, .navbar.navbar-default {
    background-color: #283f52;
    color: #ffffff;
}

.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#1A6F80, #1A6F80), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: #1A6F80;
}

.form-group {
    padding-bottom: 7px;
    margin: 0 0;
}

.btn{
	padding: 9px 30px;
}

.form-control {
	color: #03a9f4;
}

.mb50{
	margin-bottom: 50px;
}

.mb20{
	margin-bottom: 20px;
}

.navbar .navbar-nav > li > a {
	padding-top: 10px; 
	/*padding-bottom: 0px; */
}